## Задание 1

In [ ]:
import numpy as np

a = np.array([[1, 6],
            [2, 8],
            [3, 11],
            [3, 10],
            [1, 7]])

mean_a = np.mean(a, axis = 0)

mean_a

## Задание 2

In [ ]:
a_centered = np.subtract(a, mean_a)

a_centered

## Задание 3

In [ ]:
a1 = a_centered[:,0]
a2 = a_centered[:,1]
a_centered_sp = np.dot(a1, a2)
a_centered_sp

In [ ]:
N = a.shape[0]
result = a_centered_sp / (N-1)
result

# Работа с данными в Pandas

## Задание 1

In [1]:
import pandas as pd

In [13]:
authors = pd.DataFrame({
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
})

book = pd.DataFrame({
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
})

## Задание 2

In [19]:
authors_price = pd.merge(authors, book, on='author_id', how='outer').copy()

## Задание 3

In [26]:
top5 = authors_price.nlargest(5, 'price').copy()
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

## Задание 4

In [41]:
import numpy as np
groupby = authors_price.groupby('author_name')
groupby['price'].mean()

author_name
Островский    330.000000
Тургенев      366.666667
Чехов         475.000000
Name: price, dtype: float64

In [43]:
df1 = authors_price.groupby('author_name').agg({'price': 'min'}).rename(columns={'price':'min_price'})
df2 = authors_price.groupby('author_name').agg({'price': 'max'}).rename(columns={'price':'max_price'})
df3 = authors_price.groupby('author_name').agg({'price': 'mean'}).rename(columns={'price':'mean_price'})
authors_stat=pd.concat([df1, df2, df3], axis = 1)
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000